<table>
    <tr>
        <td class="space"></td>
        <td class="space"></td>
        <td class="space">§</td>
        <td class="space"></td>
        <td class="space">€</td>
        <td class="space">§</td>
        <td class="space">!</td>
        <td class="space"></td>
        <td class="space">§</td>
        <td class="space"></td>
        <td class="space"></td>
        <td class="space">§</td>
    </tr>
    <tr>
        <td class="space"></td>
        <td class="start">DEPART</td>
        <td class="time">1</td>
        <td class="time">2</td>
        <td class="time">3</td>
        <td class="time">4</td>
        <td class="time">5</td>
        <td class="time">6</td>
        <td class="time">7</td>
        <td class="time">8</td>
        <td class="time">9</td>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="space">§</td>
        <td class="time">30</td>
        <td colspan="8" rowspan="6"></td>
        <td class="time">10</td>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="space">?!</td>
        <td class="time">29</td>
        <td class="time">11</td>
        <td class="space">§</td>
    </tr>
    <tr>
        <td class="space"></td>
        <td class="time">29</td>
        <td class="time">12</td>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="space">§</td>
        <td class="time">28</td>
        <td class="time">13</td>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="space">€</td>
        <td class="time">27</td>
        <td class="time">14</td>
        <td class="space">§</td>
    </tr>
    <tr>
        <td class="space"></td>
        <td class="time">26</td>
        <td class="time">15</td>
        <td class="space">?!</td>
    </tr>
    <tr>
        <td class="space">§</td>
        <td class="time">25</td>
        <td class="time">24</td>
        <td class="time">23</td>
        <td class="time">22</td>
        <td class="time">21</td>
        <td class="time">20</td>
        <td class="time">19</td>
        <td class="time">18</td>
        <td class="time">17</td>
        <td class="time">16</td>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="space">!</td>
        <td class="space"></td>
        <td class="space">§</td>
        <td class="space"></td>
        <td class="space"></td>
        <td class="space">§</td>
        <td class="space">?!</td>
        <td class="space"></td>
        <td class="space">§</td>
        <td class="space">€</td>
        <td class="space"></td>
        <td class="space">§</td>
    </tr>
</table>